<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <CMSS-PC>
    <IgnoreVsHosting>True</IgnoreVsHosting>
    <CompareSize>False</CompareSize>
    <BaseURL>http://update.codeisle.com/ips-peek/</BaseURL>
    <IgnoreDebugSymbols>True</IgnoreDebugSymbols>
    <IgnoreFiles>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" /&gt;</IgnoreFiles>
    <CopyFiles>True</CopyFiles>
    <CompareVersion>False</CompareVersion>
    <OutputFolder>C:\Users\Michael\Documents\Visual Studio 2013\Projects\IpsPeek\IpsPeek\bin\Debug</OutputFolder>
    <CompareHash>True</CompareHash>
    <CompareDate>False</CompareDate>
    <FeedXML>C:\Users\Michael\Documents\Visual Studio 2013\Projects\IpsPeek\IpsPeek\bin\Debug\output\feed.xml</FeedXML>
  </CMSS-PC>
</Settings>